* {
	font-family: 'Amatic SC', cursive;
}

#hereIsADog {
	margin-top: 10px;
}

#map{
	height: 400px;
	width:100%;
}

body {
	background-image: url("../images/dogbg.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 640px;
	image-rendering: -webkit-optimize-contrast;
}

.form-control {
	border-radius: 10px;
}

#menu button {
	border-radius:15px;
	background-color: #FF7C6D;
	border: none;
	font-size: 2rem;
}

button {
	font-family: 'Amatic SC', cursive;
}

#menu button:hover {
	border-bottom: 2px solid #89CFFF;
	color: #89CFFF !important;
}

#menu button a:hover {
	text-decoration: none;
	color: #89CFFF !important;
}

#menu button a {
}

#home {
	color: rgba(0,0,0,.9);
}

#home:hover {
	text-decoration: none;
	border-bottom: .25rem solid black;
}

#main-header{
	background-color: transparent;
	font-size: 8rem;
	color: black !important;
}

#baxter{
	float: left;
	width: 6rem;
	border-radius: 10px;
	display: inline-block;
}

a h2 {
	font-size: 3rem;
	display: inline-block;
}

#arrow{
	float: right;
}

#find-pet {
	align-content: center;
}

#main-nav {
	background-color: transparent;
}

#brand {
	font-size: 5rem;
}

li a {
	font-size: 2rem;
	margin-right: 2rem;
	margin-left: 2rem;
}

ul{
	margin-left: 2rem;
}

#menu {
	position: static;
}

#logo {
	width: 2rem;
}

#logo:hover {
	border-bottom: 1px solid black;
}

footer {
	color: lightgrey;
}

#copy {
	margin-left: 2rem;
	position: static;
}
