* {
	font-family: 'Amatic SC', cursive;
}


body {
	background-image: url("../images/dogbg.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 640px;
	image-rendering: -webkit-optimize-contrast;	
}

#track, #setup, #submit {
	border-radius:15px;
	background-color: #FF7C6D;
	border: none;
	font-size: 2rem;
}

button {
	font-family: 'Amatic SC', cursive;
}

#track:hover, #setup:hover, #submit:hover {
	border-bottom: 2px solid #89CFFF;
	color: #89CFFF !important;
}


#home {
	color: #FF7C6D;;
}


#main-header{
	background-color: transparent;
	font-size: 8rem;
	font-weight: bold;
	color: #FF7C6D !important;
}



